inventory/my.github_repositories.yml
inventory/*
dynamic_inventory.log
.vscode

# Created by https://www.toptal.com/developers/gitignore/api/ansible,python
# Edit at https://www.toptal.com/developers/gitignore?templates=ansible,python

### Ansible ###
*.retry

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

playbook.yml
handlers/
