ansible==11.7.0
ansible-compat==25.6.0
ansible-core==2.18.7
ansible-lint==25.6.1
attrs==25.3.0
black==25.1.0
bracex==2.6
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
cryptography==45.0.5
Deprecated==1.2.18
filelock==3.12.4
idna==3.10
Jinja2==3.1.6
jmespath==1.0.1
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
mypy-extensions==1.1.0
packaging==25.0
pathspec==0.11.2
platformdirs==4.3.8
pycparser==2.22
PyGithub==2.1.0.post0
Pygments==2.19.2
PyJWT==2.10.1
PyNaCl==1.5.0
python-dateutil==2.9.0
PyYAML==6.0.2
referencing==0.36.2
requests==2.32.4
resolvelib==1.2.0
rich==14.0.0
rpds-py==0.26.0
ruamel.yaml==0.18.14
ruamel.yaml.clib==0.2.12
six==1.17.0
subprocess-tee==0.4.2
urllib3==2.5.0
wcmatch==10.1
wrapt==1.17.2
yamllint==1.37.1
