# Runtime dependencies for ansible-inventory-github collection
# See: https://docs.ansible.com/ansible/latest/dev_guide/developing_collections.html
#
# Install with: pip install -r requirements.txt

ansible>=2.10,<3
PyGithub>=1.55

